body {
    margin: 0;
    padding: 0;
}

p, ul, ol, li { margin: 0px; }

div.card {
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    display: inline-block;
}

div.card > button {
    float: right;
}

div.clearing { clear: both; }

li.plancrumb {
    color: blue;
}

/* FORMS */

input.invalid {
    border: 2px solid red;
}

/* MODALS */

div.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    background: rgba( 0, 0, 0, 0.8 );
}

div.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    padding: 10px;
    background: white;
    border-radius: 15px;
    min-width: 600px;
    min-height: 200px;
}

div.modal > div.modal-header > button.modal-close-btn {
    float: right;
}

div.modal > div.modal-footer {
    position: absolute;
    bottom: 0;
    min-width: 100%;
    padding: 0;
    margin: 0;
}

div.modal > div.modal-footer > button {
    float: right;
}
